<% expands('layout/body-main') %>

<% start('container-fluid') %>
		<div class="row-fluid">
			<div class="span7">
				<div class="row-fluid">
					<div class="box span12">
						<div class="box-header">
							<h2>Selected video</h2>
						</div>
						<div id="mainvideo" class="box-content">
							
						</div>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="box span12">
						<div class="box-header">
							<h2>Available cameras</h2>
						</div>
						<div id="cameraselection" class="box-content">
							<% for (var i in cameras) { %>
								<% var c = cameras[i] %>
								<div class="camerathumb" id="camerathumb-<%= c.id %>" data-cameraid="<%= c.id %>">
									<button class="btn btn-primary" data-link="/motion/camera/<%= c.id %>" ><%= c.name %></button>
									<img id="camera-live-<%= c.id %>" data-cameraid="<%= c.id %>" class="cameralive" src="/motion/camera/<%= c.id %>" />
								</div>
							<% } %>
						</div>
					</div>
				</div>
				
			</div>
			<div class="span5 box">
				<div id="cameraevents">
				<% for (var i in events) { %>
					<% var e = events[i] %>
					<div class="eventthumb" id="eventthumb-<%= e._id %>" data-eventid="<%= e._id %>">
						<img src="<%= e.picture %>" class="eventthumb" />
					</div>
				<% } %>
				</div>
			</div>
		</div>
	<style>
		.camerathumb {
			display: inline-block;
			width: 156px;
			margin-right: 5px;
		}
		
		.eventthumb {
			width: 156px;
		}
		
		#mainvideo {
			min-height: 100px;
			background: black;
			text-align: center;
			max-height: 480px;
			margin-bottom: 10px;
			padding: 0;
		}
		
	</style>
	<script type="text/javascript">
		var $mainvideo = $('#mainvideo');
		
		$('.camerathumb button').click(function (e) {
			var $this = $(this);
			var $img = $this.siblings('img');
			
			// Get the current visible camera, if there is one
			var $oldimg = $('img', $mainvideo);
			
			// And put it back in its original place
			if ($oldimg.length) {
				var oid = $oldimg.attr('data-cameraid');
				$('#camerathumb-' + oid).append($oldimg);
			}
			
			$mainvideo.html($img);
			//$mainvideo.html('<img src="' + $this.attr('data-link') + '" />');
		});
	</script>
<% end('container-fluid') %>