<% expands('layout/body-main') %>

<% set_block('title', 'Devices') %>
<% set_title('Devices') %>
<% set_block('device-hack', '<!-- This is just a hack to fire the event -->') %>

<% start('container-fluid') %>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Device Type</th>
		<th>Automation Protocol</th>
		<th>Address</th>
		<th>Action</th>
	</tr>
	<% for (var i in devices) { %>
		<% var device = devices[i] %>
		<tr>
			<td><%= device.name %></td>
			<td><%= device.device_type %></td>
			<td><%= device.automation_protocol %></td>
			<td><%= device.address %></td>
			<td>
				<button type="button" data-deviceid="<%= device._id %>" data-function="lightswitch" data-toggle="on" class="btn btn-success">Switch on</button>
				<button type="button" data-deviceid="<%= device._id %>" data-function="lightswitch" data-toggle="off" class="btn btn-danger">Switch off</button>
			</td>
		</tr>
	<% } %>
</table>
<div class="row-fluid">
	
</div>

<% assign('device-hack') %>
<% end('container-fluid') %>